@page "/"

<PageTitle>Game Catalog</PageTitle>

<div class="mt-2">
    <a href="/editgame" class="btn btn-primary" role="button">New Game</a>
</div>

@if (games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-4">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th class="text-end">Price</th>
            <th>Release date</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td>@game.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private GamesClient client = new();

    private GameSummary[]? games;

    protected override void OnInitialized()
    {
        games = client.GetGames();
    }
}
